
*{
font-family: 'Merriweather', serif;
font-family: 'Inter', sans-serif;

}
.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* filter: brightness(30%); */
   
}
.banner-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-greetings{
    color: #FFF;
    
     
text-align: center;
margin-top: 100px;
margin-bottom: 0px;
font-family: Merriweather;
font-size: 30px;

}
.banner-tittle{
    color: #FFF;
    text-align: center;
    font-size: 70px;
  margin-bottom: 100px;
  margin-top: 0px;
  font-family: Merriweather;
    
 
    


}
.main-tittle{
    color: #F00;
text-align: center;

font-size: 88px;

font-weight: 700;
gap: 40px;

}

.offer-details{
    color: #F00;
text-align: center;


}
.all-categorise{
    color: black;
text-align: center;



}
.main-first{
    display: center;
}
.offer-details-img{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    
}
.main-second{

    background-image: url(../B9A1-New-Year-New-Mission-main/resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
}
.welcome{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

}
.welcome-tittle-party{
   color: #FFF;
   font-size: 64px;
   font-family: Merriweather;
}
.welcome-description-paragraph{
    color: rgba(255, 255, 255, 0.80);

line-height: 30px; /* 166.667% */
}
.welcome .small-pic{
    width: 400px;
}
.small-pic{
   padding: 10px 15px 20px 100px;
   margin-right: 50px;
}
 
.btn{
   background-color: transparent;
   color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
border: none;
}
.text-primary{
    color: #F00;
    
text-align: center;

font-size: 32px;

font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
    
}
.circle-background{
    background-image:url(../B9A1-New-Year-New-Mission-main/resources/Ellipse\ 1.png) ;
    width: 364.844px;
height: 364.844px;

margin-left: 550px;
margin-top: 100px;

  border-radius: 50%;  
/* border: #F00; */
/* border: 15px red; */
/* border-radius: 25px; */
  border: 12px solid red;
   padding: 12px; 
 /* background: no-repeat; */
 background-repeat: no-repeat;
 
 background-position: center center;

}
.best-offer{
    color: #F00;

font-family: Inter;

font-weight: 300px;

line-height: normal;

}
.comming-soon{
    color: #070211;
font-family: Merriweather;

font-style: normal;
font-weight: 700px;
line-height: normal;
text-transform: capitalize;

}
.circle-para-one{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;

font-style: normal;

line-height: 32px; /* 160% */


}
.year{
    color: #F00;
    font-family: Inter;
    
    font-style: normal;
    
    line-height: normal;
}
.year-para{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    
    font-style: normal;

    line-height: 32px; /* 160% */
}
.tow-column-circle-part{
    display: flex;
    margin-top: -350px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 150px;
    padding-right: 80px;

}
.first-part-circle{
   /* margin-left: -1000px; */
   /* padding-left: 1000px; */
   margin-left: 100px;
   margin-right: 100px;
  
}
.second-part-circle{
    
    margin-top: 7px;
    justify-content: space-between;
    margin-left: 600px;
    margin-right: -100px;
    
}

.functional{
    color: #070211;
    font-family: Inter;
    font-style: normal;
    font-size: 20px;
}
.sale{
    color: #070211;
    font-size: 50px;
    font-family: Merriweather;
}
.holiday{
    color: #F00;
text-align: center;
font-size: 50px;
font-family: Merriweather;
}

.hoiday-paragraph{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
}
.holiday-sale{
    
    text-align: center;
    padding: 200px;
    margin-bottom: 350px;
}
.holiday-img{
    background-image: url(../B9A1-New-Year-New-Mission-main/resources/Rectangle\ 2.png);
    width: 1320px;
height: 229px;
display: center;
margin-left: 70px;
margin-right: 50px;
border-radius: 16px 0px 16px 16px;
background: #F00;
}

.girl-pic{
    float: right;
    margin-top: -662px;
    margin-right: 106px;
}
.gift-box-pic{
    float: left;
    
    margin-top:-662px ;
    width: 4.372px;
height: 70.789px;
flex-shrink: 0;
position: relative;
}
.discount-pic{
    float: right;
    position: relative;
    margin-right: 406px;
    margin-top: -662px;
}
.holiday-sale-offer-and-img{
    margin-bottom: 70px;
    
}
.join{
   text-align: center;
    /* justify-content: space-around; */
    
   
        background-image: linear-gradient(180deg, rgb(245, 152, 152), rgb(255, 255, 255));
      
    /* box-shadow: rgba(244, 58, 58, 0.734) 0px 2px 4px 0px inset; */
/* background-color: rgb(255, 210, 193); */
margin-left: 95px;
margin-right: 95px;
}
.place-date-time{
    text-align: center;
    color: #070211;

font-size: 32px;

font-weight: 600;
line-height: 56px;
text-transform: capitalize;


}
.join-place-decoration{
    text-align: center;
    padding: 100px 300px;
    margin: 50px;
    
   
}
.btn-join-now{
   
    border-radius: 5px;
    background:red;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
}
.best-gifts{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.portfolio{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.best-portfolio{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 160% */
}
.best-gift{
margin: left 0;
margin-left: 80px;
/* padding: 30px 30px 0px 100px; */
}
.gift-pics{
    display: flex;
    padding: 5px;
    justify-content: center;
    width: auto;
    margin: 5px 5px 5px 5px;
    
}
.column{
    margin: 7px 7px 7px 7px;
    padding: 10px;
    display: flex;
    
}
/*  
.column2{
    display: flex;
    margin: 10px 10px 10px 10px;
    padding: 10px;
/* } */
#best-portfolio-paragraph{
    padding: 10px;
}
.sub-img{
    width: 150px;
height: 150px;
display: center;
margin-left: 500px;
margin-right: 585px;
}
.subscribe-tittle{
    text-align:center;
    gap: none;
    
}
.subscribe-paragraph{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.newsletter{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.subscribe{
    display:center;
    
   
background: rgba(255, 0, 0, 0.05);

margin: 72px 72px;
    padding: 100px 100px;
    background-position: center;
 


}
.btn-sub{
    width: 210px;
height: 72px;
flex-shrink: 0;
border-radius: 0px 50px 50px 0px;
background: #F00;
border: none;
padding: 10px;
}
#clr{
    color: #FFF;
    padding: 30px;
}
.search-email{
    width: 648px;
height: 72px;
flex-shrink: 0;
border-radius: 50px 0px 0px 50px;
background: #FFF;
border: none;
}
.email-btn{
    display: flex;
    padding-left: 150px;
    padding-right: 100px;
    padding-top: 50px;
}
    /* .subscribe-part-deco{ 
        
        align-items: center;
        
        top: 50%;
        left: 50%;
        align-items: center;
        justify-content: space-between;
    /* } */
/* footer */


.footer-main{
  
    background-color: #070211;
    width: 1600px;
height: 609px;
flex-shrink: 0;
    
     justify-content: space-around; 
    }
    
    .address-footer{
        color: #FFF;
    font-family: Inter;
    font-size: 24px;
    text-align: left;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    
    padding-left: 150px;
    padding-top: 100px;
    margin-top: 50px;
    }
    
    .foot-top{
        text-align:start;
        display: flex;
        display: flex;
        gap: 365px;
        margin-top: 100px;
       
    }
    
    .number-footer{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    
    
    }
    .website-footer{
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 166.667% */
       
    }
    .foot-right {
        direction: rtl;
        top: 7px;
        right: 15px;
        padding-left: 300px;
        margin-top: 100px;
        
    } 
    .foot-left{
       
        top: 7px;
        left: 15px;}
    
    
    
    
    
    .img-icon{
        justify-content: space-around;
        display:flex;
        margin-top: 55px;
        margin-bottom: 55px;
        margin-left: 640px;
        margin-right: 630px;
      
        background: #070211;
      
    }
    .LFT{
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
       
        font-weight: 500;
      
        margin-left: 100px;
    }
    
    
    
    
    .RFT{
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
       gap: 880px;
       
       
    }
    .L-T{
        gap: 870px;
        margin-top: 50px;
        display: flex;
        
       margin-bottom: 120px;
    }
    
    
    
    .hr-line{
        color: white;
        width: 1322px;
   
    }
    